{% extends 'base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for users in userList %}
        <tr>
            <td>{{ users.nom }}</td>
            <td>{{ users.prenom }}</td>
            <td><a href="">détail</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}